/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */


 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  font-family: 'Montserrat', sans-serif;
  background-image: url("bg2.jpg");
}

nav a{
	color:#074ab7;
	text-decoration: none;
  text-align: center;
  /*text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray,0 -1px gray;*/
  /*text-outline: black*/
/* this padding is worked out by taking the overall height of the header (76px), and taking away the height
 of the header (76px), and taking away the height of the link
 itself (20px), which leaves us with 56px/2 */

	padding: 28px 20px;

	/* this gives you the best of both properties, by allowing you to stack elements
	alongside each other, and have them also respect the padding that's added to them */
	display: inline-block;

	/* this will transition all the properties that change over the course
	of 0.3s, giving a subtle animation/transition */

	transition: all 0.3s;
}

input[type="submit"] {

	background-color: #C1C7C9;
	color: #777777;
	cursor: pointer;
  width: 100%;
  margin: 2px solid black;
}

.hidden {
  display:none;
}
.container{
	max-width:960px;
	margin: auto;
  font-family: 'Montserrat';
  text-align: center;
}
.container-fluid{
	// max-width:960px;
	// margin: 0 auto;
  // color: black;
  text-align: center;
}

.btn{
  padding: 20px;
  margin-bottom: 10%;
  font-weight: bold;
  width: 100%;
  color: black;
}

h2{
  font-size: 1000%;
}

.custom {
  width: 350px !important;
}
.chart{
  max-width:500px;
  max-height:500px;
}
#canvass{
  // display:center-align;
  margin-left: 300px;
}


// a {
//   color: black;
//   display: block;
//   width:150px;
// }
